USE [Genesis]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CodeReplicator_GetTableNames] AS
SELECT name
FROM sys.TABLES
GO

CREATE PROCEDURE [dbo].[CodeReplicator_GetSPs] AS
SELECT ROUTINE_NAME FROM Genesis.information_schema.routines WHERE routine_type = 'PROCEDURE'
GO

CREATE PROCEDURE [dbo].[CodeReplicator_GetParameters] @ProcName varchar(50) AS
SELECT  
	'ParameterName' = name,  
	'Type'   = type_name(user_type_id),  
	'Length'   = max_length
FROM sys.parameters WHERE object_id = object_id(@ProcName)
GO