USE [Genesis]
GO
/****** Object:  StoredProcedure [dbo].[ASIMOV3_GetParameters]    Script Date: 9/3/2019 01:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CodeReplicator_GetParameters] @ProcName varchar(50) AS

SELECT  
	'ParameterName' = name,  
	'Type'   = type_name(user_type_id),  
	'Length'   = max_length

FROM sys.parameters WHERE object_id = object_id(@ProcName)