body {
    background-image: url('../Images/Background/andromeda2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: -8px;
    overflow: hidden;
}

/* TopBar*/
div.TopBar {
    height: 75px;
    background: #18191a;
    width: 100%;
}

img.Logo {
    height: 200%;
    display: inline-block;
    margin-top: -30px;
    margin-left: -28px;
}

.TestButton {
    border: none;
    /*border-radius: 5px;*/
    background: #3a7999;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    transition: all 500ms ease;
    box-shadow: inset 0 0 0 2px #3a7999;
    float: right;
    margin-top: 18px;
    margin-right: 20px;
}

    .TestButton:hover {
        background: rgba(0,0,0,0);
        color: #3a7999;
        cursor: pointer;
    }

/* Texto */
span.TitleText {
    font-family: 'Alien Resurrection';
    letter-spacing: 20px;
    font-size: 35px;
    color: white;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
}

span.DescText {
    font-family: 'Alien Resurrection';
    letter-spacing: 20px;
    font-size: 15px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-left: 65px;
}
