/*
   Friday, April 19, 20194:03:54 AM
   Usuario: 
   Servidor: .\SQLEXPRESS
   Base de datos: Genesis
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DynamicFields
	(
	Id bigint NOT NULL IDENTITY (1, 1),
	Name varchar(100) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DynamicFields ADD CONSTRAINT
	PK_DynamicFields PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DynamicFields SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.DynamicFields', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.DynamicFields', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.DynamicFields', 'Object', 'CONTROL') as Contr_Per 