USE [Genesis]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insert_Role]	@Role varchar(50)
AS

INSERT INTO Roles VALUES(@Role);
SELECT TOP 1 Id FROM Roles ORDER BY Id DESC